:global(.calendarSwitch .ant-select-item-option) {
  text-align: center;
  padding: 5px 0;
}
:global(.ganttCalendarSelect .ant-select-selection-item) {
  white-space: initial;
  text-overflow: initial;
}
:global(.ganttHeaderGlobal .ant-space-item) {
  z-index: 2;
}
:global(.overlay-label) {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
  /* visibility: hidden; */
}
:global(.overlay-label) {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
  /* visibility: hidden; */
}
:global(svg.select-connection) > * {
  /* visibility: visible;
  display: visible; */
  /* fill: #1a8cff; */
  stroke: #1a8cff;
  stroke-width: 2px;
  overflow: hidden;
}
:global(.ant-switch-checked .ant-switch-handle) {
  left: calc(100% - 20px);
}
:global(.guide-modal .ant-modal-close) {
  right: -20px;
  top: -20px;
}
:global(.end-point) {
  cursor: pointer;
  opacity: 0;
  background-color: #0a50d1;
  border-radius: 4px;
}
:global(.end-point):hover {
  opacity: 1;
}
:global(.endpoint-hover) {
  opacity: 1;
}
:global(.barHover .barHandle) {
  visibility: visible;
  opacity: 1;
}
:global(.barHandle) {
  fill: #fff;
  cursor: ew-resize;
  opacity: 0;
  visibility: hidden;
}
:global(.barHandleDate) {
  fill: #ccc;
}

:global(.jtk-connector.jtk-hover) {
  cursor: pointer;
}
