:global(.calendarSwitch .ant-select-item-option) {
  text-align: center;
  padding: 5px 0;
}
:global(.ganttCalendarSelect .ant-select-selection-item) {
  overflow: auto;
  white-space: initial;
  text-overflow: initial;
}
