.ganttVerticalContainer {
  flex: 1;
  overflow: hidden;
  font-size: 0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
  border-bottom: 1px solid #eee;
}

.horizontalContainer {
  margin: 0;
  padding: 0;
  overflow: hidden;
  will-change: transform;
  direction: ltr;
  position: relative;
}

.box {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.wrapper {
  position: relative;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  height: 100%;
  flex: 1;
  overflow: hidden;
}

.task-gantt-wrapper {
  position: absolute;
  top: 0;
  left: 0;
}

.calendarWrapper {
  height: 50px;
}
.ganttHeader {
  text-align: right;
  margin-bottom: 20px;
  padding: 0 20px;
}
.cursor {
  cursor: pointer;
}

.taskListWrapper {
  position: relative;
}

.taskListWrapper .mask {
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  background: #fff;
  height: calc(100% - 48px);
}