.gridRow {
  fill: transparent;
}

.gridRow:hover {
  fill: #f5f5f5;
}

/* .gridRow:nth-child(even) {
  fill: #f5f5f5;
} */

.gridRowLine {
  stroke: #eeeeee;
}

.gridTick {
  stroke: #e6e4e4;
}
.gridTickWeekday {
  fill: #f5f5f5;
}
