.tooltipDefaultContainer {
  background: #fff;
  padding: 16px;
  box-shadow: 0px 4px 8px -2px rgba(9, 30, 66, 0.25),
    0px 0px 1px 0px rgba(9, 30, 66, 0.31);
  border-radius: 4px;
}

.tooltipDefaultContainerParagraph {
  font-size: 12px;
  margin-bottom: 6px;
  color: #666;
}

.tooltipDetailsContainer {
  position: absolute;
  display: flex;
  flex-shrink: 0;
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tooltipDetailsContainerHidden {
  visibility: hidden;
  position: absolute;
  display: flex;
  pointer-events: none;
}
.tooltipId {
  color: #3463ca;
  font-weight: 600;
  font-size: 16px;
}
.tooltipName {
  font-weight: 600;
  font-size: 14px;
  max-width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: PingFangSC-Regular, PingFang SC;
  color: #213053;
  margin-bottom: 10px;
}
.lightColor {
  color: #909aaa;
}
.status {
  display: inline-block;
  padding: 2px 8px;
  background: #e6f3ff;
  border-radius: 4px;
  color: #0c62ff;
  font-size: 12px;
}
.milestone div {
  margin-bottom: 10px;
}
.milestone div:nth-last-child() {
  margin-bottom: 0px;
}
