.tooltipDefaultContainer {
  background: #fff;
  padding: 12px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.tooltipDefaultContainerParagraph {
  font-size: 12px;
  margin-bottom: 6px;
  color: #666;
}

.tooltipDetailsContainer {
  display: table;
}
