.tooltipDefaultContainer {
  background: var(--gtr-back);
  padding: 12px;
  box-shadow: 0 3px 6px var(--gtr-tooltip-default-container-shadow-first), 0 3px 6px var(--gtr-tooltip-default-container-shadow-second);
}

.tooltipDefaultContainerParagraph {
  font-size: 12px;
  margin-bottom: 6px;
  color: var(--gtr-tooltip-default-container-paragraph);
}

.tooltipDetailsContainer {
  position: absolute;
  display: flex;
  flex-shrink: 0;
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tooltipDetailsContainerHidden {
  visibility: hidden;
  position: absolute;
  display: flex;
  pointer-events: none;
}
