.taskListWrapper {
  display: table;
  border-bottom: #e6e4e4 1px solid;
  border-left: #e6e4e4 1px solid;
  padding: 10px;
  width: 470px
}

.taskListTableRow {
  text-overflow: ellipsis;
  border-radius: 5px;
  background-color: #F7F7F7;
  padding-bottom: 5px;
  cursor: pointer;
}

.taskListTableRow:nth-of-type(even) {
  background-color: #f5f5f5;
}

.taskListCell {
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.taskListNameWrapper {
  display: flex;
}

.taskListExpander {
  color: rgb(86 86 86);
  font-size: 0.6rem;
  padding: 0.15rem 0.2rem 0rem 0.2rem;
  user-select: none;
  cursor: pointer;
}
.taskListEmptyExpander {
  font-size: 0.6rem;
  padding-left: 1rem;
  user-select: none;
}

.taskListCircle {
  width: 12px;
  height: 12px;
  margin-right: 10px;
  background: red;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

.taskListLine {
  width: 20px; 
  height: 1px;
  background-color: #F4F4F4;
  margin-inline: 0;
  border: none;
}
