.ganttTable {
  display: table;
  border-bottom: var(--gtr-border) 1px solid;
  border-top: var(--gtr-border) 1px solid;
  border-left: var(--gtr-border) 1px solid;
}

.ganttTable_Header {
  display: table-row;
  list-style: none;
}

.ganttTable_HeaderSeparator {
  border-right: 1px solid var(--gtr-gantt-header-separator);
  opacity: 1;
  margin-left: -2px;
}

.ganttTable_HeaderItem {
  display: table-cell;
  vertical-align: -webkit-baseline-middle;
  vertical-align: middle;
}
