.list li {
  list-style: none;
  text-align: left;
  padding: 5px 5px;
  display: flex;
  justify-content: space-between;
}
.list li:hover {
  background: #f3f3f3;
}
.list li:hover .dot {
  visibility: visible;
}
li.activeBaseline {
  background: #dbe8ff;
}
.list .content {
  flex: 1;
}
.list .name {
  font-size: 12px;
  font-weight: 600;
}
.list .time,
.list .name {
  font-size: 12px;
}
.cursor {
  cursor: pointer;
}
.panel {
  width: 200px;
}
.panel ul.list {
  padding: 0;
}
.panel .createBaseline {
  margin-bottom: 10px;
}
.createBaseline button {
  padding-left: 0px;
}
.dot {
  cursor: pointer;
  visibility: hidden;
}
.ml8{
  margin-left: 8px;
}