.calendarBottomText {
  text-anchor: middle;
  fill: var(--gtr-calendar-bottom-text);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.calendarTopTick {
  stroke: var(--gtr-border);
}

.calendarTopText {
  text-anchor: middle;
  fill: var(--gtr-label);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.calendarHeader {
  fill: var(--gtr-back);
  stroke: var(--gtr-calendar-stroke);
  stroke-width: 1.4;
}
