.calendarBottomText {
  text-anchor: middle;
  fill: #eeeeee;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.calendarTopTick {
  stroke: #393e46;
}

.calendarTopText {
  text-anchor: middle;
  fill: #eeeeee;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.calendarHeader {
  fill:   fill: #171b21;
  stroke: #393e46;
  stroke-width: 1.4;
}
