:root {
  --back: #fff;
  --button-back: #e7e7e7;
  --fore:#000;
  --gray:#ccc;
  --inputSlider: #2196f3;
}

.dark {
  --back: #000;
  --button-back: #181818;
  --fore:#fff;
  --gray:#333;
  --inputSlider: #2196f3;
  --gtr-back: #000;
  --gtr-even-back: #0a0a0a;
  --gtr-grid-row-line: #14100d;
  --gtr-border: #191b1b;
  --gtr-label: #aaa;
  --gtr-calendar-bottom-text:#ccc;
  --gtr-calendar-stroke: #1f1f1f;
  --gtr-tooltip-default-container-paragraph: #999999;
  --gtr-bar-handle: #222222;

  --gtr-scroll-wrapper: rgba(255,255,255, 0.2);
  --gtr-scroll-wrapper-hover: rgba(255,255,255, 0.3);
  --gtr-tooltip-default-container-shadow-first: rgba(255,255,255, 0.16);
  --gtr-tooltip-default-container-shadow-second: rgba(255,255,255, 0.23);

  --gtr-gantt-header-separator:rgb(59, 59, 59);
  --gtr-task-list-expander: rgb(169 169 169);
}
.Wrapper {
  margin-bottom: 2rem;
  background-color: var(--back);
  color: var(--fore)
}
.ViewContainer {
  list-style: none;
  -ms-box-orient: horizontal;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  align-items: center;
}

.Button {
  background-color: var(--button-back);
  color: var(--fore);
  border: none;
  padding: 7px 16px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
}
.Switch {
  margin: 4px 15px;
  font-size: 14px;
  font-family: "Arial, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue";
  display: flex;
  justify-content: center;
  align-items: center;
}
.Switch_Toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  margin-right: 5px;
}

.Switch_Toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.Slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--gray);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.Slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: 6px;
  bottom: 4px;
  background-color: var(--back);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .Slider {
  background-color: var(--inputSlider);
}

input:focus + .Slider {
  box-shadow: 0 0 1px var(--inputSlider);
}

input:checked + .Slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

