.barWrapper {
  cursor: pointer;
  outline: none;
}

.barWrapper:hover .barHandle {
  visibility: visible;
  opacity: 1;
}

.barHandle {
  fill: #fff;
  cursor: ew-resize;
  opacity: 0;
  visibility: hidden;
}

.barHandleProgress {
  stroke: #0A50D1;
  stroke-width: .5;
}

.barHandleDate {
  fill: #ccc;
}

.barHandleBackground {
  filter: drop-shadow(1px 1px 2px rgba(0,0,0,.2));
  cursor: default;
  stroke: #efefef
}

.barBackground {
  user-select: none;
  stroke-width: 0;
}
