.barWrapper {
  cursor: pointer;
  outline: none;
}

.barWrapper:hover .barHandle, .barWrapper:hover .barRelationHandle {
  visibility: visible;
  opacity: 1;
}

.barRelationHandle.barRelationHandle_drawMode {
  opacity: 1;
}

.barHandle {
  fill: #ddd;
  cursor: ew-resize;
  opacity: 0;
  visibility: hidden;
}

.barRelationHandle {
  fill: #ddd;
  stroke: #333;
  cursor: pointer;
  opacity: 0;
}

.barBackground {
  user-select: none;
  stroke-width: 0;
}
