.GanttBar {
  user-select: none;
  stroke-width: 0;
}

.GanttBar-wrapper {
  cursor: pointer;
  outline: none;
}

.GanttBar-handle {
  fill: #ddd;
  cursor: ew-resize;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

.GanttBar-wrapper:hover .GanttBar-handle {
  visibility: visible;
  opacity: 1;
}

.GanttBar-label {
  fill: #fff;
  text-anchor: middle;
  font-weight: lighter;
  dominant-baseline: central;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.GanttBar-label-outside {
  fill: #555;
  text-anchor: start;
}

.GanttCalendar-bottomText {
  text-anchor: middle;
  fill: #333;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.GanttCalendar-topTick {
  stroke: #e6e4e4;
}

.GanttCalendar-topText {
  text-anchor: middle;
  fill: #555;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.GanttGrid-row {
  fill: #fff;
}

.GanttGrid-row:nth-child(even) {
  fill: #f5f5f5;
}

.GanttGrid-header {
  fill: #fff;
  stroke: #e0e0e0;
  stroke-width: 1.4;
}

.GanttGrid-rowLine {
  stroke: #ebeff2;
}

.GanttGrid-tick {
  stroke: #e6e4e4;
}

.TooltipDefaultContainer {
  background: #fff;
  padding: 12px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.TooltipDefaultContainer-paragraph {
  font-size: 12px;
  margin-bottom: 6px;
  color: #666;
}

.TooltipDetailsContainer {
  display: table;
}
